<section id="info" class="info">
    <div class="title">
        <a class="title__title" href="" target="_blank">
            <h2>Dizinin Artıları</h2>
        </a>
    </div>
    <div class="info__list">
        <div class="info__list-items info__list-items--1">
            <a class="info__list-item" href="" target="_blank" style="background-image: url(images/info-image-1.webp)">
                <div>
                    Sürükleyici ve orijinal hikâye
                </div>
            </a>
            <a class="info__list-item" href="" target="_blank" style="background-image: url(images/info-image-2.webp)">
                <div>
                    Derinlemesine karakterler
                </div>
            </a>
        </div>
        <div class="info__list-items info__list-items--2">
           <a class="info__list-item" href="" target="_blank" style="background-image: url(images/info-image-3.webp)">
                <div>
                    Sinema kalitesinde çekimler
                </div>
            </a>
            <a class="info__list-item" href="" target="_blank" style="background-image: url(images/info-image-4.webp)">
                 <div>
                    Yüksek reytingler ve izleyici ilgisi
                </div>
            </a>
        </div>
        <div class="info__list-items info__list-items--3">
            <a class="info__list-item" href="" target="_blank" style="background-image: url(images/info-image-5.webp)">
                 <div>
                    Yıldız oyuncu kadrosu
                </div>
            </a>
        </div>
    </div>
    <a class="info__btn btn" href=""><span>Explore All Catagories</span></a>
</section>