<section class="main">
    <div class="main-block main-width">
        <div class="main-block__image">
            <img src="images/title.webp">
        </div>
        <div class="main-block__tags">
            <div class="main-block__tag">
                <img src="images/tag-1.webp">
                kolay
           </div>
           <div class="main-block__tag">
                <img src="images/tag-2.webp">
                hızlı
           </div>
           <div class="main-block__tag">
                <img src="images/tag-3.webp">
                güvenli
           </div>
        </div>
        <h1 class="main-block__title">Seçimini Yap! <span>Elbette 1xBet’te!</span></h1>
        <div class="main-block__buttons">
            <a href="" class="btn main-block__btn main-block__btn--left"><span>Uygulamayı</span></a>
            <include src="button.html"></include>
            <a href="" class="btn main-block__btn main-block__btn--right"><span>Klibi Hemen İzle</span></a>
        </div>
        <div class="main-block__range range">
            <div class="range__item range__item--left">
                %45 Onun İçin <span>(12.340 Oy)</span>
            </div>
            <div class="range__item range__item--right">
                <span>(15.210 Oy)</span> %55 Onun İçin 
            </div>
        </div>
</section> 