<div class="middle-banner">
    <div class="middle-banner__left">
        <img src="images/middle-banner-left.webp" alt="">
    </div>
    <div class="middle-banner__right">
        <img src="images/middle-banner-right.webp" alt="">
    </div>
    <div class="middle-banner__content main-width">
        <h2>Senin Tarafın Hangisi?</h2>
        <div class="middle-banner__buttons">
            <a href="#" class="btn middle-banner__btn"><span>Sol Tarafı Seç</span></a>
            <a href="#" class="btn middle-banner__btn"><span>Sağ Tarafı Seç</span></a>
            </div>
        <div class="main-block__range range">
            <div class="range__item range__item--left">
                %45 Onun İçin <span>(12.340 Oy)</span>
            </div>
            <div class="range__item range__item--right">
                <span>(15.210 Oy)</span> %55 Onun İçin 
            </div>
        </div>
    </div>
</div>