.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s ease;
    white-space: nowrap;

    @media (max-width: 767px) { 
        border-radius: 16px;
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
    }

    &--xl {
        padding: 16px 24px;
        height: 60px;
        font-size: 18px;
        gap: 20px;

         @media (max-width: 767px) { 
            height: 52px;
            padding: 14px 16px;
            font-size: 16px;
         }
    }

    &--l {
        padding: 12px 20px;
        height: 48px;
        font-size: 16px;
    }

    &--m {
        padding: 10px 20px;
        height: 44px;
        font-size: 16px;
    }

    &--s {
        padding: 8px 16px;
        height: 40px;
        font-size: 16px;
    }

    &--xs {
        padding: 8px 14px;
        height: 36px;
        font-size: 14px;
    }

    &--primary {
        background: var(--semantic-brand-500);
        border: 1px solid var(--semantic-brand-500);
        color: var(--buttons-primary-fg-button-primary);

        &:hover {
            background: var(--semantic-brand-600);
            border: 1px solid var(--semantic-brand-600);
        }

        &:active {
            background: var(--semantic-brand-700);
            border: 1px solid var(--semantic-brand-700);
        }

        &:disabled {
            background: var(--buttons-primary-bg-button-primary-disabled);
            border: 1px solid var(--buttons-primary-bg-button-primary-disabled);
            color: var(--buttons-primary-fg-button-primary-disabled);
        }
    }

    &--secondary {
        background: var(--semantic-brand-100);
        border: 1px solid var(--semantic-brand-100);
        color: var(--semantic-brand-500);

        &:hover {
            background: var(--semantic-brand-100);
            border: 1px solid var(--semantic-brand-600);
            color: var(--semantic-brand-600);
        }

        &:active {
            background: var(--buttons-secondary-bg-button-secondary-click);
            border: 1px solid var(--semantic-brand-700);
            color: var(--semantic-brand-700);
        }

        &:disabled {
            background: transparent;
            border: 1px solid var(--buttons-secondary-border-button-secondary-disabled);
             color: var(--buttons-secondary-fg-button-secondary-disabled);
        }
    }

    &--tertiary {
        background: var(--background-bg-primary);
        border: 1px solid var(--semantic-neutral-200);
        color: var(--semantic-neutral-700);

        &:hover {
            color: var(--semantic-neutral-800);
            border: 1px solid var(--semantic-neutral-800);
        }

        &:active {
            background: var(--semantic-neutral-50);
            border: 1px solid var(--semantic-neutral-900);
            color: var(--semantic-neutral-900);
        }

        &:disabled {
            background: transparent;
            border: 1px solid var(--buttons-secondary-border-button-secondary-disabled);
             color: var(--buttons-secondary-fg-button-secondary-disabled);
        }
    }

    &--clear {
        background: transparent;
        border: none;
        color: var(--semantic-brand-500);

        &:hover {
            color: var(--semantic-brand-600);
        }

        &:active {
            color: var(--semantic-brand-700);
        }

        &:disabled {
            color: var(--semantic-neutral-300);
        }
    }

    &--destructive {
        background: var(--buttons-destructive-primary-bg-button-destructive-primary);
        border: 1px solid var(--buttons-destructive-primary-bg-button-destructive-primary);
        color: var(--buttons-destructive-primary-fg-button-destructive-primary);

        &:hover {
           background: var(--buttons-destructive-primary-bg-button-destructive-primary-hover);
            border: 1px solid var(--buttons-destructive-primary-bg-button-destructive-primary-hover);
        }

        &:active {
            background: var(--buttons-destructive-primary-bg-button-destructive-primary-click);
             border: 1px solid var(--buttons-destructive-primary-bg-button-destructive-primary-click);
        }

        &:disabled {
            background: var(--buttons-destructive-primary-bg-button-destructive-primary-disabled);
             border: 1px solid var(--buttons-destructive-primary-bg-button-destructive-primary-disabled);
             color: var(--buttons-destructive-primary-fg-button-destructive-primary-disabled);

        }
    }

    &--destructive-secondary {
        background: var(--buttons-destructive-secondary-bg-button-destructive-secondary);
        border: 1px solid var(--buttons-destructive-secondary-border-button-destructive-secondary);
        color: var(--buttons-destructive-secondary-fg-button-destructive-secondary);
   
        &:hover {
            background: var(--buttons-destructive-secondary-bg-button-destructive-secondary-hover);
            border: 1px solid var(--buttons-destructive-primary-bg-button-destructive-primary-hover);
            color: var(--buttons-destructive-secondary-fg-button-destructive-secondary-hover);
        }

        &:active {
            background: var(--buttons-destructive-secondary-bg-button-destructive-secondary-click);
            border: 1px solid var(--buttons-destructive-secondary-border-button-destructive-secondary-click);
            color: var(--buttons-destructive-secondary-fg-button-destructive-secondary-click);
        }

        &:disabled {
            background: transparent;
            border: 1px solid var(--buttons-destructive-secondary-border-button-destructive-secondary-disabled);
            color: var(--buttons-destructive-secondary-fg-button-destructive-secondary-disabled);
        }
    }

    &--destructive-tertiary {
        background: var(--buttons-destructive-tertiary-bg-button-destructive-tertiary);
        border: 1px solid var(--buttons-destructive-tertiary-border-button-destructive-tertiary);
        color: var(--buttons-destructive-tertiary-fg-button-destructive-tertiary);

        &:hover {
            background: var(--buttons-destructive-tertiary-bg-button-destructive-tertiary-hover);
            border: 1px solid var(--buttons-destructive-tertiary-border-button-destructive-tertiary-hover);
            color: var(--buttons-destructive-tertiary-fg-button-destructive-tertiary-hover);
        }

        &:active {
            background: var(--buttons-destructive-tertiary-bg-button-destructive-tertiary-click);
            border: 1px solid var(--buttons-destructive-tertiary-fg-button-destructive-tertiary-disabled);
            color: var(--buttons-destructive-tertiary-fg-button-destructive-tertiary-click);
        }

        &:disabled {
            background: transparent;
            border: 1px solid var(--buttons-destructive-tertiary-border-button-destructive-tertiary-disabled);
            color: var(--buttons-destructive-tertiary-fg-button-destructive-tertiary-disabled);
        }
    }


}