:root {
	--base-white: #fff;
	--base-white-20: rgba(255, 255, 255, 0.2);
	--base-white-60: rgba(255, 255, 255, 0.6);
	--base-white-80: rgba(255, 255, 255, 0.8);
	--base-white-40: rgba(255, 255, 255, 0.4);
	--base-black: #002142;
	--neutral-50: #f2f4f6;
	--neutral-100: #e0e4e8;
	--neutral-200: #c7cfd6;
	--neutral-300: #aeb9c4;
	--neutral-400: #95a3b1;
	--neutral-500: #7c8e9e;
	--neutral-600: #64788c;
	--neutral-700: #4b627a;
	--neutral-800: #324c67;
	--neutral-900: #143453;
	--brand-50: #fff;
	--brand-100: #d0ecff;
	--brand-200: #a1d9ff;
	--brand-300: #72c6ff;
	--brand-400: #42b3ff;
	--brand-500: #14a0ff;
	--brand-600: #1086d9;
	--brand-700: #0c6db3;
	--brand-800: #08538d;
	--brand-900: #033a67;
	--success-50: #f0fdf4;
	--success-100: #dcfce7;
	--success-200: #bbf7d0;
	--success-300: #86efac;
	--success-400: #4ade80;
	--success-500: #22c55e;
	--success-600: #16a34a;
	--success-700: #15803d;
	--success-800: #166534;
	--success-900: #14532d;
	--warning-50: #fffbeb;
	--warning-100: #fef3c7;
	--warning-200: #fde68a;
	--warning-300: #fcd34d;
	--warning-400: #fbbf24;
	--warning-500: #f59e0b;
	--warning-600: #d97706;
	--warning-700: #b45309;
	--warning-800: #92400e;
	--warning-900: #78350f;
	--error-50: #fef2f2;
	--error-100: #fee2e2;
	--error-200: #fecaca;
	--error-300: #fca5a5;
	--error-400: #f87171;
	--error-500: #ef4444;
	--error-600: #dc2626;
	--error-700: #b91c1c;
	--error-800: #991b1b;
	--error-900: #7f1d1d;
	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--zinc-50: #fafafa;
	--zinc-100: #f4f4f5;
	--zinc-200: #e4e4e7;
	--zinc-300: #d4d4d8;
	--zinc-400: #a1a1aa;
	--zinc-500: #71717a;
	--zinc-600: #52525b;
	--zinc-700: #3f3f46;
	--zinc-800: #27272a;
	--zinc-900: #18181b;
	--silver-50: #fafafa;
	--silver-100: #f5f5f5;
	--silver-200: #e5e5e5;
	--silver-300: #d4d4d4;
	--silver-400: #a3a3a3;
	--silver-500: #737373;
	--silver-600: #525252;
	--silver-700: #404040;
	--silver-800: #262626;
	--silver-900: #171717;
	--stone-50: #fafaf9;
	--stone-100: #f5f5f4;
	--stone-200: #e7e5e4;
	--stone-300: #d6d3d1;
	--stone-400: #a8a29e;
	--stone-500: #78716c;
	--stone-600: #57534e;
	--stone-700: #44403c;
	--stone-800: #292524;
	--stone-900: #1c1917;
	--orange-50: #fff7ed;
	--orange-100: #ffedd5;
	--orange-200: #fed7aa;
	--orange-300: #fdba74;
	--orange-400: #fb923c;
	--orange-500: #f97316;
	--orange-600: #ea580c;
	--orange-700: #c2410c;
	--orange-800: #9a3412;
	--orange-900: #7c2d12;
	--yellow-50: #fefce8;
	--yellow-100: #fef9c3;
	--yellow-200: #fef08a;
	--yellow-300: #fde047;
	--yellow-400: #facc15;
	--yellow-500: #eab308;
	--yellow-600: #ca8a04;
	--yellow-700: #a16207;
	--yellow-800: #854d0e;
	--yellow-900: #713f12;
	--lime-50: #f7fee7;
	--lime-100: #ecfccb;
	--lime-200: #d9f99d;
	--lime-300: #bef264;
	--lime-400: #a3e635;
	--lime-500: #84cc16;
	--lime-600: #65a30d;
	--lime-700: #4d7c0f;
	--lime-800: #3f6212;
	--lime-900: #365314;
	--emerald-50: #ecfdf5;
	--emerald-100: #d1fae5;
	--emerald-200: #a7f3d0;
	--emerald-300: #6ee7b7;
	--emerald-400: #34d399;
	--emerald-500: #10b981;
	--emerald-600: #059669;
	--emerald-700: #047857;
	--emerald-800: #065f46;
	--emerald-900: #064e3b;
	--teal-50: #f0fdfa;
	--teal-100: #ccfbf1;
	--teal-200: #99f6e4;
	--teal-300: #5eead4;
	--teal-400: #2dd4bf;
	--teal-500: #14b8a6;
	--teal-600: #0d9488;
	--teal-700: #0f766e;
	--teal-800: #115e59;
	--teal-900: #134e4a;
	--cyan-50: #ecfeff;
	--cyan-100: #cffafe;
	--cyan-200: #a5f3fc;
	--cyan-300: #67e8f9;
	--cyan-400: #22d3ee;
	--cyan-500: #06b6d4;
	--cyan-600: #0891b2;
	--cyan-700: #0e7490;
	--cyan-800: #155e75;
	--cyan-900: #164e63;
	--sky-50: #f0f9ff;
	--sky-100: #e0f2fe;
	--sky-200: #bae6fd;
	--sky-300: #7dd3fc;
	--sky-400: #38bdf8;
	--sky-500: #0ea5e9;
	--sky-600: #0284c7;
	--sky-700: #0369a1;
	--sky-800: #075985;
	--sky-900: #0c4a6e;
	--blue-50: #eff6ff;
	--blue-100: #dbeafe;
	--blue-200: #bfdbfe;
	--blue-300: #93c5fd;
	--blue-400: #60a5fa;
	--blue-500: #3b82f6;
	--blue-600: #2563eb;
	--blue-700: #1d4ed8;
	--blue-800: #1e40af;
	--blue-900: #1e3a8a;
	--violet-50: #f5f3ff;
	--violet-100: #ede9fe;
	--violet-200: #ddd6fe;
	--violet-300: #c4b5fd;
	--violet-400: #a78bfa;
	--violet-500: #8b5cf6;
	--violet-600: #7c3aed;
	--violet-700: #6d28d9;
	--violet-800: #5b21b6;
	--violet-900: #4c1d95;
	--purple-50: #faf5ff;
	--purple-100: #f3e8ff;
	--purple-200: #e9d5ff;
	--purple-300: #d8b4fe;
	--purple-400: #c084fc;
	--purple-500: #a855f7;
	--purple-600: #9333ea;
	--purple-700: #7e22ce;
	--purple-800: #6b21a8;
	--purple-900: #581c87;
	--fuchsia-50: #fdf4ff;
	--fuchsia-100: #fae8ff;
	--fuchsia-200: #f5d0fe;
	--fuchsia-300: #f0abfc;
	--fuchsia-400: #e879f9;
	--fuchsia-500: #d946ef;
	--fuchsia-600: #c026d3;
	--fuchsia-700: #a21caf;
	--fuchsia-800: #86198f;
	--fuchsia-900: #701a75;
	--pink-50: #fdf2f8;
	--pink-100: #fce7f3;
	--pink-200: #fbcfe8;
	--pink-300: #f9a8d4;
	--pink-400: #f472b6;
	--pink-500: #ec4899;
	--pink-600: #db2777;
	--pink-700: #be185d;
	--pink-800: #9d174d;
	--pink-900: #831843;
	--rose-50: #fff1f2;
	--rose-100: #ffe4e6;
	--rose-200: #fecdd3;
	--rose-300: #fda4af;
	--rose-400: #fb7185;
	--rose-500: #f43f5e;
	--rose-600: #e11d48;
	--rose-700: #be123c;
	--rose-800: #9f1239;
	--rose-900: #881337;
	--value-base-white: #fff;
	--value-base-black: #000;
	--value-base-transparent-white: rgba(255, 255, 255, 0);
	--value-base-transparent-black: rgba(0, 0, 0, 0);
	--value-neutral-50: #f9fafb;
	--value-neutral-100: #f3f4f6;
	--value-neutral-200: #e5e7eb;
	--value-neutral-300: #d1d5db;
	--value-neutral-400: #9ca3af;
	--value-neutral-500: #6b7280;
	--value-neutral-600: #4b5563;
	--value-neutral-700: #374151;
	--value-neutral-800: #1f2937;
	--value-neutral-900: #111827;
	--value-neutral-950: #0b121f;
	--value-brand-50: #eef2ff;
	--value-brand-100: #e0e7ff;
	--value-brand-200: #c7d2fe;
	--value-brand-300: #a5b4fc;
	--value-brand-400: #818cf8;
	--value-brand-500: #6366f1;
	--value-brand-600: #4f46e5;
	--value-brand-700: #4338ca;
	--value-brand-800: #3730a3;
	--value-brand-900: #312e81;
	--value-brand-950: #1e1b4b;
	--value-success-50: #f0fdf4;
	--value-success-100: #dcfce7;
	--value-success-200: #bbf7d0;
	--value-success-300: #86efac;
	--value-success-400: #4ade80;
	--value-success-500: #22c55e;
	--value-success-600: #16a34a;
	--value-success-700: #15803d;
	--value-success-800: #166534;
	--value-success-900: #14532d;
	--value-success-950: #052e16;
	--value-warning-50: #fffbeb;
	--value-warning-100: #fef3c7;
	--value-warning-200: #fde68a;
	--value-warning-400: #fbbf24;
	--value-warning-500: #f59e0b;
	--value-warning-600: #d97706;
	--value-warning-700: #b45309;
	--value-warning-300: #fcd34d;
	--value-warning-900: #78350f;
	--value-warning-800: #92400e;
	--value-warning-950: #451a03;
	--value-error-50: #fef2f2;
	--value-error-100: #fee2e2;
	--value-error-200: #fecaca;
	--value-error-400: #f87171;
	--value-error-500: #ef4444;
	--value-error-600: #dc2626;
	--value-error-700: #b91c1c;
	--value-error-300: #fca5a5;
	--value-error-900: #7f1d1d;
	--value-error-800: #991b1b;
	--value-error-950: #450a0a;
	--value-slate-50: #f8fafc;
	--value-slate-100: #f1f5f9;
	--value-slate-200: #e2e8f0;
	--value-slate-300: #cbd5e1;
	--value-slate-400: #94a3b8;
	--value-slate-500: #64748b;
	--value-slate-600: #475569;
	--value-slate-700: #334155;
	--value-slate-800: #1e293b;
	--value-slate-900: #0f172a;
	--value-slate-950: #020617;
	--value-zinc-50: #fafafa;
	--value-zinc-100: #f4f4f5;
	--value-zinc-200: #e4e4e7;
	--value-zinc-300: #d4d4d8;
	--value-zinc-400: #a1a1aa;
	--value-zinc-500: #71717a;
	--value-zinc-600: #52525b;
	--value-zinc-700: #3f3f46;
	--value-zinc-800: #27272a;
	--value-zinc-900: #18181b;
	--value-zinc-950: #09090b;
	--value-silver-50: #fafafa;
	--value-silver-100: #f5f5f5;
	--value-silver-200: #e5e5e5;
	--value-silver-300: #d4d4d4;
	--value-silver-400: #a3a3a3;
	--value-silver-500: #737373;
	--value-silver-600: #525252;
	--value-silver-700: #404040;
	--value-silver-800: #262626;
	--value-silver-900: #171717;
	--value-silver-950: #0a0a0a;
	--value-stone-50: #fafaf9;
	--value-stone-100: #f5f5f4;
	--value-stone-200: #e7e5e4;
	--value-stone-300: #d6d3d1;
	--value-stone-400: #a8a29e;
	--value-stone-500: #78716c;
	--value-stone-600: #57534e;
	--value-stone-700: #44403c;
	--value-stone-800: #292524;
	--value-stone-900: #1c1917;
	--value-stone-950: #0c0a09;
	--value-orange-50: #fff7ed;
	--value-orange-100: #ffedd5;
	--value-orange-200: #fed7aa;
	--value-orange-300: #fdba74;
	--value-orange-400: #fb923c;
	--value-orange-500: #f97316;
	--value-orange-600: #ea580c;
	--value-orange-700: #c2410c;
	--value-orange-800: #9a3412;
	--value-orange-900: #7c2d12;
	--value-orange-950: #431407;
	--value-yellow-50: #fefce8;
	--value-yellow-100: #fef9c3;
	--value-yellow-200: #fef08a;
	--value-yellow-300: #fde047;
	--value-yellow-400: #facc15;
	--value-yellow-500: #eab308;
	--value-yellow-600: #ca8a04;
	--value-yellow-700: #a16207;
	--value-yellow-800: #854d0e;
	--value-yellow-900: #713f12;
	--value-yellow-950: #422006;
	--value-lime-50: #f7fee7;
	--value-lime-100: #ecfccb;
	--value-lime-200: #d9f99d;
	--value-lime-300: #bef264;
	--value-lime-400: #a3e635;
	--value-lime-500: #84cc16;
	--value-lime-600: #65a30d;
	--value-lime-700: #4d7c0f;
	--value-lime-800: #3f6212;
	--value-lime-900: #365314;
	--value-lime-950: #1a2e05;
	--value-emerald-50: #ecfdf5;
	--value-emerald-100: #d1fae5;
	--value-emerald-200: #a7f3d0;
	--value-emerald-300: #6ee7b7;
	--value-emerald-400: #34d399;
	--value-emerald-500: #10b981;
	--value-emerald-600: #059669;
	--value-emerald-700: #047857;
	--value-emerald-800: #065f46;
	--value-emerald-900: #064e3b;
	--value-emerald-950: #022c22;
	--value-teal-50: #f0fdfa;
	--value-teal-100: #ccfbf1;
	--value-teal-200: #99f6e4;
	--value-teal-300: #5eead4;
	--value-teal-400: #2dd4bf;
	--value-teal-500: #14b8a6;
	--value-teal-600: #0d9488;
	--value-teal-700: #0f766e;
	--value-teal-800: #115e59;
	--value-teal-900: #134e4a;
	--value-teal-950: #042f2e;
	--value-cyan-50: #ecfeff;
	--value-cyan-100: #cffafe;
	--value-cyan-200: #a5f3fc;
	--value-cyan-300: #67e8f9;
	--value-cyan-400: #22d3ee;
	--value-cyan-500: #06b6d4;
	--value-cyan-600: #0891b2;
	--value-cyan-700: #0e7490;
	--value-cyan-800: #155e75;
	--value-cyan-900: #164e63;
	--value-cyan-950: #083344;
	--value-sky-50: #f0f9ff;
	--value-sky-100: #e0f2fe;
	--value-sky-200: #bae6fd;
	--value-sky-300: #7dd3fc;
	--value-sky-400: #38bdf8;
	--value-sky-500: #0ea5e9;
	--value-sky-600: #0284c7;
	--value-sky-700: #0369a1;
	--value-sky-800: #075985;
	--value-sky-900: #0c4a6e;
	--value-sky-950: #082f49;
	--value-blue-50: #eff6ff;
	--value-blue-100: #dbeafe;
	--value-blue-200: #bfdbfe;
	--value-blue-300: #93c5fd;
	--value-blue-400: #60a5fa;
	--value-blue-500: #3b82f6;
	--value-blue-600: #2563eb;
	--value-blue-700: #1d4ed8;
	--value-blue-800: #1e40af;
	--value-blue-900: #1e3a8a;
	--value-blue-950: #172554;
	--value-violet-50: #f5f3ff;
	--value-violet-100: #ede9fe;
	--value-violet-200: #ddd6fe;
	--value-violet-300: #c4b5fd;
	--value-violet-400: #a78bfa;
	--value-violet-500: #8b5cf6;
	--value-violet-600: #7c3aed;
	--value-violet-700: #6d28d9;
	--value-violet-800: #5b21b6;
	--value-violet-900: #4c1d95;
	--value-violet-950: #2e1065;
	--value-purple-50: #faf5ff;
	--value-purple-100: #f3e8ff;
	--value-purple-200: #e9d5ff;
	--value-purple-300: #d8b4fe;
	--value-purple-400: #c084fc;
	--value-purple-500: #a855f7;
	--value-purple-600: #9333ea;
	--value-purple-700: #7e22ce;
	--value-purple-800: #6b21a8;
	--value-purple-900: #581c87;
	--value-purple-950: #3b0764;
	--value-fuchsia-50: #fdf4ff;
	--value-fuchsia-100: #fae8ff;
	--value-fuchsia-200: #f5d0fe;
	--value-fuchsia-300: #f0abfc;
	--value-fuchsia-400: #e879f9;
	--value-fuchsia-500: #d946ef;
	--value-fuchsia-600: #c026d3;
	--value-fuchsia-700: #a21caf;
	--value-fuchsia-800: #86198f;
	--value-fuchsia-900: #701a75;
	--value-fuchsia-950: #4a044e;
	--value-pink-50: #fdf2f8;
	--value-pink-100: #fce7f3;
	--value-pink-200: #fbcfe8;
	--value-pink-300: #f9a8d4;
	--value-pink-400: #f472b6;
	--value-pink-500: #ec4899;
	--value-pink-600: #db2777;
	--value-pink-700: #be185d;
	--value-pink-800: #9d174d;
	--value-pink-900: #831843;
	--value-pink-950: #500724;
	--value-rose-50: #fff1f2;
	--value-rose-100: #ffe4e6;
	--value-rose-200: #fecdd3;
	--value-rose-300: #fda4af;
	--value-rose-400: #fb7185;
	--value-rose-500: #f43f5e;
	--value-rose-600: #e11d48;
	--value-rose-700: #be123c;
	--value-rose-800: #9f1239;
	--value-rose-900: #881337;
	--value-rose-950: #4c0519;
	--light-mode-text-heading-primary: #111827;
	--light-mode-text-body: #4b5563;
	--light-mode-text-heading-inverted: #fff;
	--light-mode-text-body-inverted: #e5e7eb;
	--light-mode-text-body-on-brand: #eef2ff;
	--light-mode-text-sub-headline-brand: #4f46e5;
	--light-mode-text-footer-headline: #6b7280;
	--light-mode-text-footer-headline-inverted: #fff;
	--light-mode-text-disabled: #d1d5db;
	--light-mode-text-heading-secondary: #374151;
	--light-mode-text-error-primary: #dc2626;
	--light-mode-text-placeholder: #6b7280;
	--light-mode-text-error-secondary: #ef4444;
	--light-mode-border-border-primary: #d1d5db;
	--light-mode-border-border-secondary: #e5e7eb;
	--light-mode-border-border-tertiary: #f3f4f6;
	--light-mode-border-border-brand: #4f46e5;
	--light-mode-border-border-white: #fff;
	--light-mode-border-border-brand-hover: #4338ca;
	--light-mode-border-border-brand-click: #3730a3;
	--light-mode-border-border-brand-subtle: #c7d2fe;
	--light-mode-border-border-error-subtle: #fca5a5;
	--light-mode-border-border-error: #dc2626;
	--light-mode-border-border-error-hover: #b91c1c;
	--light-mode-border-border-error-click: #991b1b;
	--light-mode-border-border-error-disabled: #fecaca;
	--light-mode-border-border-disabled: #d1d5db;
	--light-mode-border-border-solid: #4b5563;
	--light-mode-icons-icon-quaternary: #4b5563;
	--light-mode-icons-icon-quinary: #6b7280;
	--light-mode-icons-icon-brand-secondary: #6366f1;
	--light-mode-icons-icon-success-primary: #22c55e;
	--light-mode-icons-icon-warning-primary: #f59e0b;
	--light-mode-icons-icon-error-primary: #991b1b;
	--light-mode-icons-icon-brand-primary: #4f46e5;
	--light-mode-icons-icon-septenary: #d1d5db;
	--light-mode-icons-icon-on-fill: #fff;
	--light-mode-icons-icon-brand-tertiary: #4338ca;
	--light-mode-icons-icon-brand-disabled: #c7d2fe;
	--light-mode-icons-icon-primary: #111827;
	--light-mode-icons-icon-secondary: #1f2937;
	--light-mode-icons-icon-error-secondary: #b91c1c;
	--light-mode-icons-icon-error-tertiary: #dc2626;
	--light-mode-icons-icon-error-disabled: #fecaca;
	--light-mode-icons-icon-tertiary: #374151;
	--light-mode-icons-icon-warning-secondary: #d97706;
	--light-mode-icons-icon-error-quarternary: #ef4444;
	--light-mode-icons-icon-senary: #9ca3af;
	--light-mode-icons-icon-success-secondary: #16a34a;
	--light-mode-background-bg-primary: #fff;
	--light-mode-background-bg-secondary: #f9fafb;
	--light-mode-background-bg-brand-primary: #eef2ff;
	--light-mode-background-bg-success-primary: #f0fdf4;
	--light-mode-background-bg-warning: #fffbeb;
	--light-mode-background-bg-error-primary: #fef2f2;
	--light-mode-background-bg-brand-secondary: #e0e7ff;
	--light-mode-background-bg-brand-quaternary: #4f46e5;
	--light-mode-background-bg-quaternary: #e5e7eb;
	--light-mode-background-bg-success-tertiary: #22c55e;
	--light-mode-background-bg-brand-quinary: #4338ca;
	--light-mode-background-bg-brand-senary: #3730a3;
	--light-mode-background-bg-brand-tertiary: #c7d2fe;
	--light-mode-background-bg-tertiary: #f3f4f6;
	--light-mode-background-bg-error-quarternary: #dc2626;
	--light-mode-background-bg-error-quinary: #b91c1c;
	--light-mode-background-bg-error-senary: #991b1b;
	--light-mode-background-bg-error-secondary: #fee2e2;
	--light-mode-background-bg-error-tertiary: #fecaca;
	--light-mode-background-bg-solid-primary: #111827;
	--light-mode-background-bg-solid-quarternary: #6b7280;
	--light-mode-background-bg-success-quarternary: #16a34a;
	--light-mode-background-bg-success-senery: #15803d;
	--light-mode-background-bg-primary-cards: #fff;
	--light-mode-background-bg-senary: #d1d5db;
	--light-mode-background-bg-solid-tertiary: #374151;
	--light-mode-background-bg-success-secondary: #dcfce7;
	--light-mode-background-bg-solid-secondary: #1f2937;
	--light-mode-semantic-neutral-50: #f9fafb;
	--light-mode-semantic-neutral-100: #f3f4f6;
	--light-mode-semantic-neutral-700: #374151;
	--light-mode-semantic-neutral-200: #e5e7eb;
	--light-mode-semantic-neutral-500: #6b7280;
	--light-mode-semantic-neutral-600: #4b5563;
	--light-mode-semantic-neutral-400: #9ca3af;
	--light-mode-semantic-neutral-300: #d1d5db;
	--light-mode-semantic-neutral-800: #1f2937;
	--light-mode-semantic-neutral-900: #111827;
	--light-mode-semantic-neutral-0: #fff;
	--light-mode-semantic-neutral-950: #0b121f;
	--light-mode-semantic-neutral-transparent: rgba(255, 255, 255, 0);
	--light-mode-semantic-brand-50: #eef2ff;
	--light-mode-semantic-brand-100: #e0e7ff;
	--light-mode-semantic-brand-200: #c7d2fe;
	--light-mode-semantic-brand-300: #a5b4fc;
	--light-mode-semantic-brand-400: #818cf8;
	--light-mode-semantic-brand-500: #6366f1;
	--light-mode-semantic-brand-600: #4f46e5;
	--light-mode-semantic-brand-700: #4338ca;
	--light-mode-semantic-brand-800: #3730a3;
	--light-mode-semantic-brand-900: #312e81;
	--light-mode-semantic-brand-950: #1e1b4b;
	--light-mode-semantic-success-50: #f0fdf4;
	--light-mode-semantic-success-100: #dcfce7;
	--light-mode-semantic-success-200: #bbf7d0;
	--light-mode-semantic-success-300: #86efac;
	--light-mode-semantic-success-400: #4ade80;
	--light-mode-semantic-success-500: #22c55e;
	--light-mode-semantic-success-600: #16a34a;
	--light-mode-semantic-success-700: #15803d;
	--light-mode-semantic-success-800: #166534;
	--light-mode-semantic-success-900: #14532d;
	--light-mode-semantic-success-950: #052e16;
	--light-mode-semantic-warning-50: #fffbeb;
	--light-mode-semantic-warning-100: #fef3c7;
	--light-mode-semantic-warning-200: #fde68a;
	--light-mode-semantic-warning-300: #fcd34d;
	--light-mode-semantic-warning-400: #fbbf24;
	--light-mode-semantic-warning-500: #f59e0b;
	--light-mode-semantic-warning-600: #d97706;
	--light-mode-semantic-warning-700: #b45309;
	--light-mode-semantic-warning-800: #92400e;
	--light-mode-semantic-warning-900: #78350f;
	--light-mode-semantic-warning-950: #451a03;
	--light-mode-semantic-error-50: #fef2f2;
	--light-mode-semantic-error-100: #fee2e2;
	--light-mode-semantic-error-200: #fecaca;
	--light-mode-semantic-error-300: #fca5a5;
	--light-mode-semantic-error-400: #f87171;
	--light-mode-semantic-error-500: #ef4444;
	--light-mode-semantic-error-600: #dc2626;
	--light-mode-semantic-error-700: #b91c1c;
	--light-mode-semantic-error-800: #991b1b;
	--light-mode-semantic-error-900: #7f1d1d;
	--light-mode-semantic-error-950: #450a0a;
	--light-mode-semantic-lime-50: #f7fee7;
	--light-mode-semantic-lime-100: #ecfccb;
	--light-mode-semantic-lime-200: #d9f99d;
	--light-mode-semantic-lime-300: #bef264;
	--light-mode-semantic-lime-400: #a3e635;
	--light-mode-semantic-lime-500: #84cc16;
	--light-mode-semantic-lime-600: #65a30d;
	--light-mode-semantic-lime-700: #4d7c0f;
	--light-mode-semantic-lime-800: #3f6212;
	--light-mode-semantic-lime-900: #365314;
	--light-mode-semantic-lime-950: #1a2e05;
	--light-mode-semantic-teal-50: #f0fdfa;
	--light-mode-semantic-teal-100: #ccfbf1;
	--light-mode-semantic-teal-200: #99f6e4;
	--light-mode-semantic-teal-300: #5eead4;
	--light-mode-semantic-teal-400: #2dd4bf;
	--light-mode-semantic-teal-500: #14b8a6;
	--light-mode-semantic-teal-600: #0d9488;
	--light-mode-semantic-teal-700: #0f766e;
	--light-mode-semantic-teal-800: #115e59;
	--light-mode-semantic-teal-900: #134e4a;
	--light-mode-semantic-teal-950: #042f2e;
	--light-mode-semantic-cyan-50: #ecfeff;
	--light-mode-semantic-cyan-100: #cffafe;
	--light-mode-semantic-cyan-200: #a5f3fc;
	--light-mode-semantic-cyan-300: #67e8f9;
	--light-mode-semantic-cyan-400: #22d3ee;
	--light-mode-semantic-cyan-500: #06b6d4;
	--light-mode-semantic-cyan-600: #0891b2;
	--light-mode-semantic-cyan-700: #0e7490;
	--light-mode-semantic-cyan-800: #155e75;
	--light-mode-semantic-cyan-900: #164e63;
	--light-mode-semantic-cyan-950: #083344;
	--light-mode-semantic-sky-50: #f0f9ff;
	--light-mode-semantic-sky-100: #e0f2fe;
	--light-mode-semantic-sky-200: #bae6fd;
	--light-mode-semantic-sky-300: #7dd3fc;
	--light-mode-semantic-sky-400: #38bdf8;
	--light-mode-semantic-sky-500: #0ea5e9;
	--light-mode-semantic-sky-600: #0284c7;
	--light-mode-semantic-sky-700: #0369a1;
	--light-mode-semantic-sky-800: #075985;
	--light-mode-semantic-sky-900: #0c4a6e;
	--light-mode-semantic-sky-950: #082f49;
	--light-mode-semantic-violet-50: #f5f3ff;
	--light-mode-semantic-violet-100: #ede9fe;
	--light-mode-semantic-violet-200: #ddd6fe;
	--light-mode-semantic-violet-300: #c4b5fd;
	--light-mode-semantic-violet-400: #a78bfa;
	--light-mode-semantic-violet-500: #8b5cf6;
	--light-mode-semantic-violet-600: #7c3aed;
	--light-mode-semantic-violet-700: #6d28d9;
	--light-mode-semantic-violet-800: #5b21b6;
	--light-mode-semantic-violet-900: #4c1d95;
	--light-mode-semantic-violet-950: #2e1065;
	--light-mode-semantic-purple-50: #faf5ff;
	--light-mode-semantic-purple-100: #f3e8ff;
	--light-mode-semantic-purple-200: #e9d5ff;
	--light-mode-semantic-purple-300: #d8b4fe;
	--light-mode-semantic-purple-400: #c084fc;
	--light-mode-semantic-purple-500: #a855f7;
	--light-mode-semantic-purple-600: #9333ea;
	--light-mode-semantic-purple-700: #7e22ce;
	--light-mode-semantic-purple-800: #6b21a8;
	--light-mode-semantic-purple-900: #581c87;
	--light-mode-semantic-purple-950: #3b0764;
	--light-mode-semantic-fuchsia-50: #fdf4ff;
	--light-mode-semantic-fuchsia-100: #fae8ff;
	--light-mode-semantic-fuchsia-200: #f5d0fe;
	--light-mode-semantic-fuchsia-300: #f0abfc;
	--light-mode-semantic-fuchsia-400: #e879f9;
	--light-mode-semantic-fuchsia-500: #d946ef;
	--light-mode-semantic-fuchsia-600: #c026d3;
	--light-mode-semantic-fuchsia-700: #a21caf;
	--light-mode-semantic-fuchsia-800: #86198f;
	--light-mode-semantic-fuchsia-900: #701a75;
	--light-mode-semantic-fuchsia-950: #4a044e;
	--light-mode-semantic-pink-50: #fdf2f8;
	--light-mode-semantic-pink-100: #fce7f3;
	--light-mode-semantic-pink-200: #fbcfe8;
	--light-mode-semantic-pink-300: #f9a8d4;
	--light-mode-semantic-pink-400: #f472b6;
	--light-mode-semantic-pink-500: #ec4899;
	--light-mode-semantic-pink-600: #db2777;
	--light-mode-semantic-pink-700: #be185d;
	--light-mode-semantic-pink-800: #9d174d;
	--light-mode-semantic-pink-900: #831843;
	--light-mode-semantic-pink-950: #500724;
	--light-mode-buttons-primary-fg-button-primary: #fff;
	--light-mode-buttons-primary-bg-button-primary: #4f46e5;
	--light-mode-buttons-primary-bg-button-primary-hover: #6366f1;
	--light-mode-buttons-primary-bg-button-primary-click: #4338ca;
	--light-mode-buttons-primary-bg-button-primary-disabled: #f3f4f6;
	--light-mode-buttons-primary-fg-button-primary-disabled: #9ca3af;
	--light-mode-buttons-secondary-fg-button-secondary: #4f46e5;
	--light-mode-buttons-secondary-fg-button-secondary-hover: #6366f1;
	--light-mode-buttons-secondary-fg-button-secondary-click: #4338ca;
	--light-mode-buttons-secondary-fg-button-secondary-disabled: #9ca3af;
	--light-mode-buttons-secondary-bg-button-secondary: #fff;
	--light-mode-buttons-secondary-bg-button-secondary-hover: #eef2ff;
	--light-mode-buttons-secondary-bg-button-secondary-click: #e0e7ff;
	--light-mode-buttons-secondary-bg-button-secondary-disabled: #fff;
	--light-mode-buttons-secondary-border-button-secondary: #4f46e5;
	--light-mode-buttons-secondary-border-button-secondary-hover: #6366f1;
	--light-mode-buttons-secondary-border-button-secondary-click: #4338ca;
	--light-mode-buttons-secondary-border-button-secondary-disabled: #e5e7eb;
	--light-mode-buttons-tertiary-fg-button-tertiary: #374151;
	--light-mode-buttons-tertiary-fg-button-tertiary-hover: #1f2937;
	--light-mode-buttons-tertiary-fg-button-tertiary-click: #111827;
	--light-mode-buttons-tertiary-fg-button-tertiary-disabled: #9ca3af;
	--light-mode-buttons-tertiary-bg-button-tertiary: #fff;
	--light-mode-buttons-tertiary-bg-button-tertiary-hover: #f9fafb;
	--light-mode-buttons-tertiary-bg-button-tertiary-click: #f3f4f6;
	--light-mode-buttons-tertiary-bg-button-tertiary-disabled: #fff;
	--light-mode-buttons-tertiary-border-button-tertiary: #d1d5db;
	--light-mode-buttons-tertiary-border-button-tertiary-disabled: #e5e7eb;
	--light-mode-buttons-link01-fg-button-link01: #4f46e5;
	--light-mode-buttons-link01-fg-button-link01-hover: #6366f1;
	--light-mode-buttons-link01-fg-button-link01-click: #4338ca;
	--light-mode-buttons-link01-fg-button-link01-disabled: #9ca3af;
	--light-mode-buttons-link01-bg-button-link01: #eef2ff;
	--light-mode-buttons-link02-fg-button-link02: #374151;
	--light-mode-buttons-link02-fg-button-link02-hover: #1f2937;
	--light-mode-buttons-link02-fg-button-link02-click: #111827;
	--light-mode-buttons-link02-fg-button-link02-disabled: #9ca3af;
	--light-mode-buttons-link02-bg-button-link02: #f9fafb;
	--light-mode-buttons-destructive-primary-fg-button-destructive-primary: #fff;
	--light-mode-buttons-destructive-primary-bg-button-destructive-primary: #dc2626;
	--light-mode-buttons-destructive-primary-bg-button-destructive-primary-hover: #b91c1c;
	--light-mode-buttons-destructive-primary-bg-button-destructive-primary-click: #991b1b;
	--light-mode-buttons-destructive-primary-bg-button-destructive-primary-disabled: #f3f4f6;
	--light-mode-buttons-destructive-primary-fg-button-destructive-primary-disabled: #9ca3af;
	--light-mode-buttons-destructive-secondary-fg-button-destructive-secondary: #dc2626;
	--light-mode-buttons-destructive-secondary-fg-button-destructive-secondary-hover: #b91c1c;
	--light-mode-buttons-destructive-secondary-border-button-destructive-secondary-click: #991b1b;
	--light-mode-buttons-destructive-secondary-border-button-destructive-secondary-disabled: #e5e7eb;
	--light-mode-buttons-destructive-secondary-fg-button-destructive-secondary-click: #991b1b;
	--light-mode-buttons-destructive-secondary-fg-button-destructive-secondary-disabled: #9ca3af;
	--light-mode-buttons-destructive-secondary-bg-button-destructive-secondary: #fff;
	--light-mode-buttons-destructive-secondary-bg-button-destructive-secondary-hover: #fef2f2;
	--light-mode-buttons-destructive-secondary-bg-button-destructive-secondary-click: #fee2e2;
	--light-mode-buttons-destructive-secondary-bg-button-destructive-secondary-disabled: #fff;
	--light-mode-buttons-destructive-secondary-border-button-destructive-secondary: #dc2626;
	--light-mode-buttons-destructive-secondary-border-button-destructive-secondary-hover: #b91c1c;
	--light-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary: #dc2626;
	--light-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-hover: #b91c1c;
	--light-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-click: #991b1b;
	--light-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-disabled: #9ca3af;
	--light-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary: #fff;
	--light-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-hover: #fef2f2;
	--light-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-click: #fee2e2;
	--light-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-disabled: #fff;
	--light-mode-buttons-destructive-tertiary-border-button-destructive-tertiary: #fecaca;
	--light-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-disabled: #e5e7eb;
	--light-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-hover: #fca5a5;
	--light-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-click: #f87171;
	--light-mode-buttons-destructive-link01-fg-button-destructive-link01: #dc2626;
	--light-mode-buttons-destructive-link01-fg-button-destructive-link01-hover: #b91c1c;
	--light-mode-buttons-destructive-link01-fg-button-destructive-link01-click: #991b1b;
	--light-mode-buttons-destructive-link01-fg-button-destructive-link01-disabled: #9ca3af;
	--light-mode-buttons-destructive-link01-bg-button-destructive-link01: #fef2f2;
	--light-mode-mockups-desktop-mockup-outer-border: #e5e7eb;
	--light-mode-mockups-desktop-mockup-outer-bg: #f3f4f6;
	--light-mode-mockups-desktop-mockup-inner-border: #e5e7eb;
	--light-mode-mockups-mobile-mockup-border: #e5e7eb;
	--light-mode-mockups-mobile-mockup-bg: #fff;
	--dark-mode-text-heading-primary: #f9fafb;
	--dark-mode-text-body: #e5e7eb;
	--dark-mode-text-heading-inverted: #111827;
	--dark-mode-text-body-inverted: #374151;
	--dark-mode-text-body-on-brand: #111827;
	--dark-mode-text-sub-headline-brand: #818cf8;
	--dark-mode-text-footer-headline: #9ca3af;
	--dark-mode-text-footer-headline-inverted: #111827;
	--dark-mode-text-disabled: #4b5563;
	--dark-mode-text-heading-secondary: #e5e7eb;
	--dark-mode-text-error-primary: #fca5a5;
	--dark-mode-text-placeholder: #9ca3af;
	--dark-mode-text-error-secondary: #f87171;
	--dark-mode-border-border-primary: #4b5563;
	--dark-mode-border-border-secondary: #374151;
	--dark-mode-border-border-tertiary: #1f2937;
	--dark-mode-border-border-brand: #818cf8;
	--dark-mode-border-border-white: #111827;
	--dark-mode-border-border-brand-hover: #a5b4fc;
	--dark-mode-border-border-brand-click: #c7d2fe;
	--dark-mode-border-border-brand-subtle: #4338ca;
	--dark-mode-border-border-error-subtle: #dc2626;
	--dark-mode-border-border-error: #fca5a5;
	--dark-mode-border-border-error-hover: #fecaca;
	--dark-mode-border-border-error-click: #fee2e2;
	--dark-mode-border-border-error-disabled: #b91c1c;
	--dark-mode-border-border-disabled: #4b5563;
	--dark-mode-border-border-solid: #d1d5db;
	--dark-mode-icons-icon-quaternary: #d1d5db;
	--dark-mode-icons-icon-quinary: #9ca3af;
	--dark-mode-icons-icon-brand-secondary: #818cf8;
	--dark-mode-icons-icon-success-primary: #4ade80;
	--dark-mode-icons-icon-warning-primary: #fbbf24;
	--dark-mode-icons-icon-error-primary: #fee2e2;
	--dark-mode-icons-icon-brand-primary: #a5b4fc;
	--dark-mode-icons-icon-septenary: #4b5563;
	--dark-mode-icons-icon-on-fill: #111827;
	--dark-mode-icons-icon-brand-tertiary: #c7d2fe;
	--dark-mode-icons-icon-brand-disabled: #4338ca;
	--dark-mode-icons-icon-primary: #f9fafb;
	--dark-mode-icons-icon-secondary: #f3f4f6;
	--dark-mode-icons-icon-error-secondary: #fecaca;
	--dark-mode-icons-icon-error-tertiary: #fca5a5;
	--dark-mode-icons-icon-error-disabled: #b91c1c;
	--dark-mode-icons-icon-tertiary: #e5e7eb;
	--dark-mode-icons-icon-warning-secondary: #fcd34d;
	--dark-mode-icons-icon-error-quarternary: #f87171;
	--dark-mode-icons-icon-senary: #9ca3af;
	--dark-mode-icons-icon-success-secondary: #86efac;
	--dark-mode-background-bg-primary: #111827;
	--dark-mode-background-bg-secondary: #1f2937;
	--dark-mode-background-bg-brand-primary: #312e81;
	--dark-mode-background-bg-success-primary: #14532d;
	--dark-mode-background-bg-warning: #78350f;
	--dark-mode-background-bg-error-primary: #7f1d1d;
	--dark-mode-background-bg-brand-secondary: #3730a3;
	--dark-mode-background-bg-brand-quaternary: #818cf8;
	--dark-mode-background-bg-quaternary: #374151;
	--dark-mode-background-bg-success-tertiary: #4ade80;
	--dark-mode-background-bg-brand-quinary: #a5b4fc;
	--dark-mode-background-bg-brand-senary: #c7d2fe;
	--dark-mode-background-bg-brand-tertiary: #4338ca;
	--dark-mode-background-bg-tertiary: #374151;
	--dark-mode-background-bg-error-quarternary: #fca5a5;
	--dark-mode-background-bg-error-quinary: #fecaca;
	--dark-mode-background-bg-error-senary: #fee2e2;
	--dark-mode-background-bg-error-secondary: #991b1b;
	--dark-mode-background-bg-error-tertiary: #b91c1c;
	--dark-mode-background-bg-solid-primary: #f9fafb;
	--dark-mode-background-bg-solid-quarternary: #9ca3af;
	--dark-mode-background-bg-success-quarternary: #86efac;
	--dark-mode-background-bg-success-senery: #bbf7d0;
	--dark-mode-background-bg-primary-cards: #1f2937;
	--dark-mode-background-bg-senary: #374151;
	--dark-mode-background-bg-solid-tertiary: #e5e7eb;
	--dark-mode-background-bg-success-secondary: #166534;
	--dark-mode-background-bg-solid-secondary: #d1d5db;
	--dark-mode-semantic-neutral-50: #1f2937;
	--dark-mode-semantic-neutral-100: #1f2937;
	--dark-mode-semantic-neutral-700: #e5e7eb;
	--dark-mode-semantic-neutral-200: #374151;
	--dark-mode-semantic-neutral-500: #9ca3af;
	--dark-mode-semantic-neutral-600: #d1d5db;
	--dark-mode-semantic-neutral-400: #6b7280;
	--dark-mode-semantic-neutral-300: #4b5563;
	--dark-mode-semantic-neutral-800: #f3f4f6;
	--dark-mode-semantic-neutral-900: #f9fafb;
	--dark-mode-semantic-neutral-0: #000;
	--dark-mode-semantic-neutral-950: #f9fafb;
	--dark-mode-semantic-neutral-transparent: rgba(0, 0, 0, 0);
	--dark-mode-semantic-brand-50: #312e81;
	--dark-mode-semantic-brand-100: #3730a3;
	--dark-mode-semantic-brand-200: #4338ca;
	--dark-mode-semantic-brand-300: #4f46e5;
	--dark-mode-semantic-brand-400: #6366f1;
	--dark-mode-semantic-brand-500: #818cf8;
	--dark-mode-semantic-brand-600: #a5b4fc;
	--dark-mode-semantic-brand-700: #c7d2fe;
	--dark-mode-semantic-brand-800: #e0e7ff;
	--dark-mode-semantic-brand-900: #eef2ff;
	--dark-mode-semantic-brand-950: #eef2ff;
	--dark-mode-semantic-success-50: #14532d;
	--dark-mode-semantic-success-100: #166534;
	--dark-mode-semantic-success-200: #15803d;
	--dark-mode-semantic-success-300: #16a34a;
	--dark-mode-semantic-success-400: #22c55e;
	--dark-mode-semantic-success-500: #4ade80;
	--dark-mode-semantic-success-600: #86efac;
	--dark-mode-semantic-success-700: #bbf7d0;
	--dark-mode-semantic-success-800: #dcfce7;
	--dark-mode-semantic-success-900: #f0fdf4;
	--dark-mode-semantic-success-950: #f0fdf4;
	--dark-mode-semantic-warning-50: #78350f;
	--dark-mode-semantic-warning-100: #92400e;
	--dark-mode-semantic-warning-200: #b45309;
	--dark-mode-semantic-warning-300: #d97706;
	--dark-mode-semantic-warning-400: #f59e0b;
	--dark-mode-semantic-warning-500: #fbbf24;
	--dark-mode-semantic-warning-600: #fcd34d;
	--dark-mode-semantic-warning-700: #fde68a;
	--dark-mode-semantic-warning-800: #fef3c7;
	--dark-mode-semantic-warning-900: #fffbeb;
	--dark-mode-semantic-warning-950: #fffbeb;
	--dark-mode-semantic-error-50: #7f1d1d;
	--dark-mode-semantic-error-100: #991b1b;
	--dark-mode-semantic-error-200: #b91c1c;
	--dark-mode-semantic-error-300: #dc2626;
	--dark-mode-semantic-error-400: #ef4444;
	--dark-mode-semantic-error-500: #f87171;
	--dark-mode-semantic-error-600: #fca5a5;
	--dark-mode-semantic-error-700: #fecaca;
	--dark-mode-semantic-error-800: #fee2e2;
	--dark-mode-semantic-error-900: #fef2f2;
	--dark-mode-semantic-error-950: #fef2f2;
	--dark-mode-semantic-lime-50: #365314;
	--dark-mode-semantic-lime-100: #3f6212;
	--dark-mode-semantic-lime-200: #4d7c0f;
	--dark-mode-semantic-lime-300: #65a30d;
	--dark-mode-semantic-lime-400: #84cc16;
	--dark-mode-semantic-lime-500: #a3e635;
	--dark-mode-semantic-lime-600: #bef264;
	--dark-mode-semantic-lime-700: #d9f99d;
	--dark-mode-semantic-lime-800: #ecfccb;
	--dark-mode-semantic-lime-900: #f7fee7;
	--dark-mode-semantic-lime-950: #f7fee7;
	--dark-mode-semantic-teal-50: #134e4a;
	--dark-mode-semantic-teal-100: #115e59;
	--dark-mode-semantic-teal-200: #0f766e;
	--dark-mode-semantic-teal-300: #0d9488;
	--dark-mode-semantic-teal-400: #14b8a6;
	--dark-mode-semantic-teal-500: #2dd4bf;
	--dark-mode-semantic-teal-600: #5eead4;
	--dark-mode-semantic-teal-700: #99f6e4;
	--dark-mode-semantic-teal-800: #ccfbf1;
	--dark-mode-semantic-teal-900: #f0fdfa;
	--dark-mode-semantic-teal-950: #f0fdfa;
	--dark-mode-semantic-cyan-50: #164e63;
	--dark-mode-semantic-cyan-100: #155e75;
	--dark-mode-semantic-cyan-200: #0e7490;
	--dark-mode-semantic-cyan-300: #0891b2;
	--dark-mode-semantic-cyan-400: #06b6d4;
	--dark-mode-semantic-cyan-500: #22d3ee;
	--dark-mode-semantic-cyan-600: #67e8f9;
	--dark-mode-semantic-cyan-700: #a5f3fc;
	--dark-mode-semantic-cyan-800: #cffafe;
	--dark-mode-semantic-cyan-900: #ecfeff;
	--dark-mode-semantic-cyan-950: #ecfeff;
	--dark-mode-semantic-sky-50: #0c4a6e;
	--dark-mode-semantic-sky-100: #075985;
	--dark-mode-semantic-sky-200: #0369a1;
	--dark-mode-semantic-sky-300: #0284c7;
	--dark-mode-semantic-sky-400: #0ea5e9;
	--dark-mode-semantic-sky-500: #38bdf8;
	--dark-mode-semantic-sky-600: #7dd3fc;
	--dark-mode-semantic-sky-700: #bae6fd;
	--dark-mode-semantic-sky-800: #e0f2fe;
	--dark-mode-semantic-sky-900: #f0f9ff;
	--dark-mode-semantic-sky-950: #f0f9ff;
	--dark-mode-semantic-violet-50: #4c1d95;
	--dark-mode-semantic-violet-100: #5b21b6;
	--dark-mode-semantic-violet-200: #6d28d9;
	--dark-mode-semantic-violet-300: #7c3aed;
	--dark-mode-semantic-violet-400: #8b5cf6;
	--dark-mode-semantic-violet-500: #a78bfa;
	--dark-mode-semantic-violet-600: #c4b5fd;
	--dark-mode-semantic-violet-700: #ddd6fe;
	--dark-mode-semantic-violet-800: #ede9fe;
	--dark-mode-semantic-violet-900: #f5f3ff;
	--dark-mode-semantic-violet-950: #f5f3ff;
	--dark-mode-semantic-purple-50: #581c87;
	--dark-mode-semantic-purple-100: #6b21a8;
	--dark-mode-semantic-purple-200: #7e22ce;
	--dark-mode-semantic-purple-300: #9333ea;
	--dark-mode-semantic-purple-400: #a855f7;
	--dark-mode-semantic-purple-500: #c084fc;
	--dark-mode-semantic-purple-600: #d8b4fe;
	--dark-mode-semantic-purple-700: #e9d5ff;
	--dark-mode-semantic-purple-800: #f3e8ff;
	--dark-mode-semantic-purple-900: #faf5ff;
	--dark-mode-semantic-purple-950: #faf5ff;
	--dark-mode-semantic-fuchsia-50: #701a75;
	--dark-mode-semantic-fuchsia-100: #86198f;
	--dark-mode-semantic-fuchsia-200: #a21caf;
	--dark-mode-semantic-fuchsia-300: #c026d3;
	--dark-mode-semantic-fuchsia-400: #d946ef;
	--dark-mode-semantic-fuchsia-500: #e879f9;
	--dark-mode-semantic-fuchsia-600: #f0abfc;
	--dark-mode-semantic-fuchsia-700: #f5d0fe;
	--dark-mode-semantic-fuchsia-800: #fae8ff;
	--dark-mode-semantic-fuchsia-900: #fdf4ff;
	--dark-mode-semantic-fuchsia-950: #fdf4ff;
	--dark-mode-semantic-pink-50: #831843;
	--dark-mode-semantic-pink-100: #9d174d;
	--dark-mode-semantic-pink-200: #be185d;
	--dark-mode-semantic-pink-300: #db2777;
	--dark-mode-semantic-pink-400: #ec4899;
	--dark-mode-semantic-pink-500: #f472b6;
	--dark-mode-semantic-pink-600: #f9a8d4;
	--dark-mode-semantic-pink-700: #fbcfe8;
	--dark-mode-semantic-pink-800: #fce7f3;
	--dark-mode-semantic-pink-900: #fdf2f8;
	--dark-mode-semantic-pink-950: #fdf2f8;
	--dark-mode-buttons-primary-fg-button-primary: #fff;
	--dark-mode-buttons-primary-bg-button-primary: #4f46e5;
	--dark-mode-buttons-primary-bg-button-primary-hover: #6366f1;
	--dark-mode-buttons-primary-bg-button-primary-click: #4338ca;
	--dark-mode-buttons-primary-bg-button-primary-disabled: #1f2937;
	--dark-mode-buttons-primary-fg-button-primary-disabled: #6b7280;
	--dark-mode-buttons-secondary-fg-button-secondary: #818cf8;
	--dark-mode-buttons-secondary-fg-button-secondary-hover: #a5b4fc;
	--dark-mode-buttons-secondary-fg-button-secondary-click: #c7d2fe;
	--dark-mode-buttons-secondary-fg-button-secondary-disabled: #6b7280;
	--dark-mode-buttons-secondary-bg-button-secondary: #111827;
	--dark-mode-buttons-secondary-bg-button-secondary-hover: #312e81;
	--dark-mode-buttons-secondary-bg-button-secondary-click: #3730a3;
	--dark-mode-buttons-secondary-bg-button-secondary-disabled: #111827;
	--dark-mode-buttons-secondary-border-button-secondary: #818cf8;
	--dark-mode-buttons-secondary-border-button-secondary-hover: #a5b4fc;
	--dark-mode-buttons-secondary-border-button-secondary-click: #c7d2fe;
	--dark-mode-buttons-secondary-border-button-secondary-disabled: #374151;
	--dark-mode-buttons-tertiary-fg-button-tertiary: #e5e7eb;
	--dark-mode-buttons-tertiary-fg-button-tertiary-hover: #f3f4f6;
	--dark-mode-buttons-tertiary-fg-button-tertiary-click: #f9fafb;
	--dark-mode-buttons-tertiary-fg-button-tertiary-disabled: #6b7280;
	--dark-mode-buttons-tertiary-bg-button-tertiary: #111827;
	--dark-mode-buttons-tertiary-bg-button-tertiary-hover: #1f2937;
	--dark-mode-buttons-tertiary-bg-button-tertiary-click: #374151;
	--dark-mode-buttons-tertiary-bg-button-tertiary-disabled: #111827;
	--dark-mode-buttons-tertiary-border-button-tertiary: #4b5563;
	--dark-mode-buttons-tertiary-border-button-tertiary-disabled: #374151;
	--dark-mode-buttons-link01-fg-button-link01: #818cf8;
	--dark-mode-buttons-link01-fg-button-link01-hover: #a5b4fc;
	--dark-mode-buttons-link01-fg-button-link01-click: #c7d2fe;
	--dark-mode-buttons-link01-fg-button-link01-disabled: #6b7280;
	--dark-mode-buttons-link01-bg-button-link01: #3730a3;
	--dark-mode-buttons-link02-fg-button-link02: #e5e7eb;
	--dark-mode-buttons-link02-fg-button-link02-hover: #f3f4f6;
	--dark-mode-buttons-link02-fg-button-link02-click: #f9fafb;
	--dark-mode-buttons-link02-fg-button-link02-disabled: #6b7280;
	--dark-mode-buttons-link02-bg-button-link02: #1f2937;
	--dark-mode-buttons-destructive-primary-fg-button-destructive-primary: #fff;
	--dark-mode-buttons-destructive-primary-bg-button-destructive-primary: #dc2626;
	--dark-mode-buttons-destructive-primary-bg-button-destructive-primary-hover: #b91c1c;
	--dark-mode-buttons-destructive-primary-bg-button-destructive-primary-click: #991b1b;
	--dark-mode-buttons-destructive-primary-bg-button-destructive-primary-disabled: #1f2937;
	--dark-mode-buttons-destructive-primary-fg-button-destructive-primary-disabled: #6b7280;
	--dark-mode-buttons-destructive-secondary-fg-button-destructive-secondary: #fecaca;
	--dark-mode-buttons-destructive-secondary-fg-button-destructive-secondary-hover: #fee2e2;
	--dark-mode-buttons-destructive-secondary-border-button-destructive-secondary-click: #dc2626;
	--dark-mode-buttons-destructive-secondary-border-button-destructive-secondary-disabled: #374151;
	--dark-mode-buttons-destructive-secondary-fg-button-destructive-secondary-click: #fef2f2;
	--dark-mode-buttons-destructive-secondary-fg-button-destructive-secondary-disabled: #6b7280;
	--dark-mode-buttons-destructive-secondary-bg-button-destructive-secondary: #450a0a;
	--dark-mode-buttons-destructive-secondary-bg-button-destructive-secondary-hover: #7f1d1d;
	--dark-mode-buttons-destructive-secondary-bg-button-destructive-secondary-click: #991b1b;
	--dark-mode-buttons-destructive-secondary-bg-button-destructive-secondary-disabled: #111827;
	--dark-mode-buttons-destructive-secondary-border-button-destructive-secondary: #991b1b;
	--dark-mode-buttons-destructive-secondary-border-button-destructive-secondary-hover: #b91c1c;
	--dark-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary: #fecaca;
	--dark-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-hover: #fee2e2;
	--dark-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-click: #fef2f2;
	--dark-mode-buttons-destructive-tertiary-fg-button-destructive-tertiary-disabled: #6b7280;
	--dark-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary: #111827;
	--dark-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-hover: #7f1d1d;
	--dark-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-click: #991b1b;
	--dark-mode-buttons-destructive-tertiary-bg-button-destructive-tertiary-disabled: #111827;
	--dark-mode-buttons-destructive-tertiary-border-button-destructive-tertiary: #991b1b;
	--dark-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-disabled: #374151;
	--dark-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-hover: #b91c1c;
	--dark-mode-buttons-destructive-tertiary-border-button-destructive-tertiary-click: #dc2626;
	--dark-mode-buttons-destructive-link01-fg-button-destructive-link01: #fecaca;
	--dark-mode-buttons-destructive-link01-fg-button-destructive-link01-hover: #fee2e2;
	--dark-mode-buttons-destructive-link01-fg-button-destructive-link01-click: #fef2f2;
	--dark-mode-buttons-destructive-link01-fg-button-destructive-link01-disabled: #6b7280;
	--dark-mode-buttons-destructive-link01-bg-button-destructive-link01: #7f1d1d;
	--dark-mode-mockups-desktop-mockup-outer-border: #374151;
	--dark-mode-mockups-desktop-mockup-outer-bg: #1f2937;
	--dark-mode-mockups-desktop-mockup-inner-border: #374151;
	--dark-mode-mockups-mobile-mockup-border: #374151;
	--dark-mode-mockups-mobile-mockup-bg: #1f2937;
}